@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;          
}

button, input {
    border: none
}

body {
    background-color:#17554d;
}

.lupa, .menu-hamburger {
    display: none;
}

/*Cabeçalho*/
.container-header {   
    display: flex;    
    align-items: center;  
    justify-content: space-between;      
    margin:3%;     
}

.busca {      
    width: 752px;
    height: 56px;    
    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;   
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);      
    
    font-family: 'Inter';  
    font-size: 16px;    
    color: #FFFFFF; 
}

.busca:hover {
    background: rgba(255, 255, 255, 0.24);    
}

.profile button {    
    width: 146px;
    height: 56px;
    border-radius: 8px;      
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:#1b5e55;
   }

.profile img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.profile h2 {
    font-family: 'Inter';    
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}


.profile :hover {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 8px;
}

.profile h2 {
    pointer-events: none;
}

/*Fontes*/
h1 {
    font-family: 'Inter';
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 16px;
    letter-spacing: 0.4em;
    text-transform: uppercase;      
    color: #FFFFFF;
}

h2 {    
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;    
    color: #FFFFFF;
}


/*conteudo página*/
.conteudo {    
    display: flex;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
}

/*Menu esquerdo */
.menu-editor, .menu-comunidade {
    display: flex;
    align-items: center;   
    margin-bottom: 20px;   
}

/*botão editor*/
.botao-editor button {    
    width: 48px;
    height: 48px;   
    background: #3ab8a7;
    border-radius: 16px;       
    border: none;
    margin-right: 20px; 
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);      
}

.botao-editor :hover {
    background-color: #409e92;      
}

.botao-editor :active {
    background-color: #409e92;
    border: 4px solid rgba(26, 145, 143, 0.72);
}

.botao-editor :focus {
    background: #62b6ab;
}

.botao-editor h2, img {
    pointer-events: none;
}

/*botão comunidade*/
.botao-comunidade button {    
    width: 48px;
    height: 48px;   
    background: rgba(65, 245, 255, 0.08);
    border-radius: 16px;     
    border: none;
    margin-right: 20px; 
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);      
}

.botao-comunidade :hover {
    background-color: rgba(65, 245, 255, 0.16);      
}

.botao-comunidade :active {
    background: rgba(65, 245, 255, 0.16);
    border: 4px solid rgba(65, 245, 255, 0.24);
}

.botao-comunidade :focus {
    background: rgba(65, 245, 255, 0.24);
}

.botao-comunidade h2, img {
    pointer-events: none;
}


/*Centro*/
main {
    margin-left: 5%;
}
.icones  {
    display: flex;
    flex-direction: row;       
    width: 52px;
    height: 12px;   
    margin-top: 12px;
    margin-left: 15px;    
}

.icones img {
    margin-left: 5px;
}
.fundo-editor {
    display: flex;  
    width: 752px;
    height: 366px;       
    background: #A48556;
    border-radius: 8px;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);     
}

.editor {  
    width: 688px;
    height: 302px;
    margin: auto;
    background-color: #141414;       
    border-radius: 8px;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);  
}

.texto {    
    width: 658px;
    height: 242px;
    margin-bottom: 32px;       
    margin-top: 22px;
    margin-left: 15px;    
    border:none;          
    
    font-family: 'Roboto Mono';
    font-size: 14px;
    line-height: 18px;       
    color: #FFFFFF;   
}

.preview {
    display: block;
    padding: 9px;        
    margin-top: 22px;
    margin:auto;
    border-radius: 7px;
    height: 100%;
    border:none; 
}

.botao-high {  
    width: 752px;
    height: 56px;    
    margin-top: 30px;    
    background: rgba(65, 245, 255, 0.08);;
    border-radius: 8px;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24);  
}

.botao-high:hover {
    background:  rgba(65, 245, 255, 0.16);  
    border-radius: 8px;
}

.botao-high:active {
    background:  rgba(65, 245, 255, 0.16);  
    border: 4px solid rgba(65, 245, 255, 0.24);
}

.botao-high:focus {
    background: rgba(65, 245, 255, 0.24);
}

.botao-high h2 {
    pointer-events: none;
}

/*Menu lado Esquerdo*/
::placeholder {
    color: navajowhite;
    opacity: 0.64;
}

.projeto {
    display: flex;
    flex-direction: column;    
}

.projeto nav {
    display: flex;
    flex-direction: column;
    
}
.personalizacao {
 display: flex;
 flex-direction: column;

}
.nome-projeto   {      
    width: 272px;
    height: 56px;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;   
    margin-bottom: 20px;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24); 
    
    font-family: 'Inter';    
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;    
}

.descricao-projeto {   
    width: 272px;
    height: 80px;   
    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;   
    border: none;
    margin-bottom: 30px;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24); 

    font-family: 'Inter';
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;    
}

.projeto nav :hover {
    background: rgba(255, 255, 255, 0.24);
    border-radius: 8px;
}

.linguagem {   
    width: 272px;
    height: 56px;      
    background: rgba(255, 255, 255, 0.16);
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24); 
    border-radius: 8px;  
    margin-bottom: 30px;

    font-family: 'Inter';       
    font-size: 16px;
    line-height: 24px;
    color: navajowhite;
    opacity: 0.64;
}

.linguagem:hover {
    background: rgba(255, 255, 255, 0.24);
    border-radius: 8px;
} 

option {
    font-family: 'Inter';    
    font-size: 16px;
    line-height: 24px;
    color: #17554d;
}

/*cores*/
/**/
.cor-fundo1, .cor-fundo2 {
    display: flex;
    align-items: center;    
    margin-bottom: 20px;
    justify-content: space-between;
}

.cor-fundo    {    
    width: 40px;
    height: 40px;   
    background: rgba(196, 196, 196, 0.01);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;      
}

.mudar-fundo {    
    width: 222px;
    height: 40px;   
    background: rgba(65, 245, 255, 0.08);;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24); 
    border-radius: 8px;
   
}

.mudar-fundo:hover {
    background:  rgba(65, 245, 255, 0.16);  
    border-radius: 8px;
}

.mudar-fundo:active {
    background:  rgba(65, 245, 255, 0.16);  
    border: 4px solid rgba(65, 245, 255, 0.24);
    border-radius: 8px;
}

.mudar-fundo:focus {
    background: rgba(65, 245, 255, 0.24);
}

.mudar-fundo h2 {
    pointer-events:none;
}


/**/

.cor-editor { 
    width: 40px;
    height: 40px;   
    background: rgba(196, 196, 196, 0.01);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;
    
}

.mudar-editor{   
    width: 222px;
    height: 40px;   
    background: rgba(65, 245, 255, 0.08);;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24); 
    border-radius: 8px;
}

.mudar-editor:hover {
    background:  rgba(65, 245, 255, 0.16);  
    border-radius: 8px;
}

.mudar-editor:active {
    background:  rgba(65, 245, 255, 0.16);  
    border: 4px solid rgba(65, 245, 255, 0.24);
    border-radius: 8px;
}

.mudar-editor:focus {
    background: rgba(65, 245, 255, 0.24);
}

.mudar-editor h2 {
    pointer-events:none;
}


.salvar {   
    width: 272px;
    height: 56px;
    margin-top: 10px;
    background: #3ab8a7;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24); 
    border-radius: 8px;

    font-family: Inter;
    font-size: 16px;
    line-height: 24px;
    color: #17554d;
}

.save :hover {
    background: #409e92;
    border-radius: 8px;
}

.save :active {
    background: #409e92;
    border: 4px solid rgba(26, 145, 143, 0.72);
    border-radius: 8px;
}

.save :focus {
    background: #62b6ab;
    border-radius: 8px;
}

.save h4 {
    pointer-events:none;
}
.salvar-png {   
    width: 272px;
    height: 56px;
    margin-top: 20px;
    border:none;
    background: #bee2de;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.24); 
    border-radius: 8px;

    font-family: Inter;
    font-size: 16px;
    line-height: 24px;
    color: #17554d;
}

.save-png :hover {
    background: #85a9a4;
    border-radius: 8px;
}

.save-png :active {
    background: #85a9a4;
    border: 4px solid rgba(26, 145, 143, 0.72);
    border-radius: 8px;
}

.save-png :focus {
    background: #bad5d1;
    border-radius: 8px;
}

.save-png h4 {
    pointer-events:none;
}

.comunidade {
width: 95%;
display: flex;
flex-direction: column;
}

